<ion-header>
  <ion-toolbar>
    <ion-title>FAQ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col>
    <div class="ion-text-center">
      <h2>FREQUENT ASKED QUESTIONS</h2>
    </div>
  </ion-col>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>What should I do if I forget the email or password I registered with?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        First content
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>How can I check my payment status?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Second Content
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Do I need an account to view or buy products?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Yes. To search and shop our collection of BeautyCare products, you will need to create an account. Registration is free, and can be done online.
      </div>
    </ion-accordion>
    <ion-accordion value="forth">
      <ion-item slot="header" color="light">
        <ion-label>What is BeautyCare?
        </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        BeautyCare is an application which mainly focusing on skincare products, especially for people that are concerned with their skin conditions. Customers may use this application to purchase and scan products to view ratings and ingredient.
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <div class="ion-text-center">
    <ion-button>VIEW MORE</ion-button>
  </div>
</ion-content>
