<ion-header>
  <ion-toolbar>
    <ion-title>FAQ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col>
    <div class="ion-text-center">
      <h2>FREQUENT ASKED QUESTIONS</h2>
    </div>
  </ion-col>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>How to change subscription plan?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        First content
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Can I cancel my subscription plan?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Second Content
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>How do I upload my product?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Third Content
      </div>
    </ion-accordion>
    <ion-accordion value="forth">
      <ion-item slot="header" color="light">
        <ion-label>Do I need business certificate in order to register?
        </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Forth content
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
