<ion-header>
  <ion-toolbar class="background">
    <ion-title>
      <img  height="60px" src="assets/font.png" alt="">
    </ion-title>
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-item  class="personalinfo">
    <ion-label>Frequent Ask Question</ion-label>
  </ion-item><br><br>

  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>How to change subscription plan?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        First content
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Can I cancel my subscription plan?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Second Content
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>How do I upload my product?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Third Content
      </div>
    </ion-accordion>
    <ion-accordion value="forth">
      <ion-item slot="header" color="light">
        <ion-label>Do I need business certificate in order to register?
        </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Forth content
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/product-list">
          <ion-icon name="cloud-upload-outline"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button routerLink="/home">
          <ion-icon name="home"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button routerLink="/profile">
          <ion-icon name="person-circle"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
</ion-toolbar>
</ion-footer>
