<ion-header translucent="true">
  
  <ion-toolbar class="background">
    <ion-buttons  slot="start">
      <ion-back-button defaultHref="/yourplan"></ion-back-button>
    </ion-buttons>
    <ion-grid>

<ion-row>
  

  <ion-col> 
    <ion-title >CANCEL PLAN</ion-title>
</ion-col>



    </ion-row>

   </ion-grid>
   </ion-toolbar>
   </ion-header>

<ion-content>
  <div id="body">
  <img src="assets/cancelled.png" alt="cancelledlogo" style="width:100% ;">
  
    <div class="ion-text-center">
    CANCELLED PLAN
    </div>
    </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/product-list">
          <ion-icon name="cloud-upload-outline"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button routerLink="/home">
          <ion-icon name="home"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button routerLink="/profile">
          <ion-icon name="person-circle"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
</ion-toolbar>
</ion-footer>
