ion-toolbar, .background {
    --background: #054937;
}

ion-content{
    text-align: center;
}

ion-back-button{
    color: white;
}

.resetpwd{
    color: #E3D497;
    --background: #054937;
    font-family:RobotoMono ;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.secbkrnd{
    --background: #258D72;
}