<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div align="center"><br>
        <img height="60px" src="assets/font.png" alt="">
      </div><br>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="logo">
    <img  src="assets/logo.png" alt="">
  </div>


  <ion-item class="resetpwd" lines="full">
    <p class="resetpwd">Enter your email to reset your password</p>
  </ion-item>

  <app-auth-form #resetPasswordForm (formSubmitted)=resetPassword($event) [actionButtonText]="'Reset Password'"
    [isPasswordResetPage]="true"></app-auth-form>
</ion-content>