<ion-header>
  <ion-toolbar>
    <ion-title>
      <div align="center"><br>
        <img height="60px" src="assets/font.png" alt="">
      </div><br>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background"><br><br>
  
  
  <ion-label class="createacc">Create your account</ion-label><br><br>

  <ion-card class="secbkrnd">
    <ion-card-header>
      <ion-col size="8">    
        <!-- signup and password from auth-form.component.html -->
        <app-auth-form #signupForm (formSubmitted)=signupUser($event) [actionButtonText]="'Next'"></app-auth-form>

  <ion-label  class="haveacc" expand="block" fill="clear" routerLink="/login">
    I already have an account
  </ion-label>

  </ion-col>
    </ion-card-header>
  </ion-card>
</ion-content>