<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">
  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="cust-homepage">
      <ion-icon [name]="selectedTab == 'home' ? 'home' : 'home-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="cust-location">
      <ion-icon [name]="selectedTab == 'location' ? 'compass' : 'compass-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="cust-cart">
      <ion-icon [name]="selectedTab == 'cart' ? 'cart' : 'cart-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="cust-profile">
      <ion-icon [name]="selectedTab == 'profile' ? 'person' : 'person-outline'"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>