<meta name="viewport" content="width=device-width, initial-scale=1">
<ion-header translucent="true">
  
  <ion-toolbar class="background">
    
    <ion-grid>
<ion-row>
  
    <ion-col>
      <ion-icon id="left" name="chevron-back-outline" (click)="previous()"></ion-icon>
     </ion-col>

    <ion-col> 
      <ion-title ></ion-title>
  </ion-col>

<ion-col>
  <ion-icon id="power" name="power-outline"></ion-icon>
</ion-col>

    </ion-row>

   </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <body>
<div class="logo"><img src="assets/font.png" alt=""></div>

  <div id="rec">
<div id="head">CHOOSE YOUR PLAN</div>


<div id="plan">
<h6>BASIC PLAN</h6>
<p >$10.00/ month</p>
<p>20 products</p>
<p>Revenue up to $150</p>
<p>5% transaction fee</p>
<button (click)="changebasic()">CHANGE PLAN</button>
<br>
<h6>STANDARD PLAN</h6>
<p>$20.00/ month</p>
<p>50 products</p>
<p>Revenue up to $500</p>
<p>5% transaction fee</p>
<button (click)="changestandard()">CHANGE PLAN</button>
<br>
<h6>PREMIUM PLAN</h6>
<p>$50.00/ month</p>
<p>200 products</p>
<p>Revenue up to $1000</p>
<p>5% transaction fee</p>
<br>
<button (click)="changepremium()">CHANGE PLAN</button>

</div>
</div>
</body>
</ion-content>
