.background{--background: #054937;}

ion-title{
    text-align: center;
    color: rgb(255, 221, 110);
    font-family:'Times New Roman', Times, serif;
    float: left;
}
.logo{text-align: center;}

body{background-color: #054937;}

p{font-size: 12px;}

#plan{text-align: center;color: #F5F5F5;}

#rec{
background-color: #258D72;
margin-left: 30px;
margin-right: 30px;
border-radius: 20px;
}
ion-content{max-width: 500px;
    margin: auto;background: white;padding: 10px;
    }

#head{
    text-align: center;
    margin-bottom: 30px;
    font-size: medium;
    color: rgb(251, 235, 141);
    margin-top: 20px;
    font-size: 20px;
}

h6{font-size: 16px;}

button{--background:#F5F5F5;color: black;width: 100px;border-radius: 15px;}



#left{height: 20px; width: 20px;float: left;
    color: rgb(255, 255, 255);}
#power{height: 20px; width: 20px;float: left;float: right;}

ion-item{--background:#258D72;}
ion-tab-bar{--background: #054937;}
ion-icon,ion-label{color: black;}


