ion-toolbar{
    --background: #054937;
}

.background{
    --background: #054937;
}

.createacc{
    color: #E3D497;
    font-family:RobotoMono ;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.haveacc{
    color: white;
    font-family: RobotoMono;
    text-align: center;
    text-decoration: underline;

}

 .secbkrnd{
    background: #258D72;
    text-align: center;
}

ion-content{
    text-align: center;
}