<ion-header>
   
  <ion-toolbar class="background">
    <ion-title>
      <img  height="60px" src="assets/font.png" alt="">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
    <div class="logo">
      <img src="assets/logo.png" alt="">
    </div>
    <div class="msg">Welcome to BeautyCare</div>

  <ion-card class="secbkrnd">
    <ion-card-header >
    <ion-row class="ion-justify-content-center">
      <ion-col size="8">
       
        <ion-button shape="round" expand="block" fill="clear" class="font" size="medium" (click)="vendor()">VENDOR</ion-button><br>
        <ion-button shape="round" expand="block" fill="clear" class="font" size="medium" (click)="customer()">CUSTOMER</ion-button>
        
      </ion-col>
    </ion-row>
    </ion-card-header>  
  </ion-card>
</ion-content>
