ion-toolbar{
    color: white;
}
.background{
    --background: #054937;
}

.msg{
    color:#E3D497;
    text-align: center;
    font-family: Roboto Mono;
}
.secbkrnd{
    background: #258D72;
}

.font{
    color: black;
    --background: white;
    font-family: Roboto Mono;
    margin-left: auto;
    margin-right: auto;
    display: block
}

.logo{text-align: center;}
