h6{text-align: center;}
#c2{float: right;}
img{
    height: auto;
    border-radius: 10px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
*{
  text-align: center;
  align-items: center;
}

ion-title{float: left;color:aliceblue;font-family: 'Times New Roman', Times, serif}

#left{height: 20px; width: 20px;float: left;
  color: rgb(255, 255, 255);}
#power{height: 20px; width: 20px;float: left;float: right;}

ion-tab-bar{--background: #054937;}
ion-icon{color: black;}

.background{--background: #054937;}

*label{padding: 12px 12px 12px 0;
    display: inline-block;}
    
ion-input{
  width: 100%;
  padding: 12px;
  resize: vertical;
}

ion-label{
  color: black;
}

#body{
  background-image: url(/assets/bg.jpg);
  background-size: 100%;
  
}
p{
  text-align: center;
}
img{
  width: 300px;
}

ion-modal.stack-modal {
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
  
}
