h6{text-align: center;}
#c2{float: right;}
img{
    height: auto;
    border-radius: 10px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


ion-title{
  text-align: center;
  color: rgb(255, 221, 110);
  font-family:'Times New Roman', Times, serif;
  margin-bottom: 30px;
  font-size: large;
  margin-top: 20px;
  font-size: 20px;
}

#left{height: 20px; width: 20px;float: left;
  color: rgb(255, 255, 255);}
#power{height: 20px; width: 20px;float: left;float: right;}


.background{--background: #054937;}
div{text-align: center}
/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 2px solid rgb(0, 128, 11);
  }

*label{padding: 12px 12px 12px 0;
    display: inline-block;}
    
ion-input{
  width: 100%;
  padding: 12px;
  resize: vertical;
}

ion-label{
  color: black;
}

#myPaypalButtons{
text-align: center;
}
#body{
  background-image: url(/assets/bg.jpg);
  height: 100%;
  background-size: cover;
}

ion-tab-bar{--background: #054937;}
ion-card,ion-item{background-color:  #c3d6d2;}