<meta name="viewport" content="width=device-width, initial-scale=1.0">
<ion-header translucent="true">
  
  <ion-toolbar class="background">
    <ion-grid>

<ion-row>
  
  <ion-col>
    <ion-icon id="left" name="chevron-back-outline" (click)="previous()"></ion-icon>
   </ion-col>

  <ion-col> 
    <ion-title >PAYMENT PAGE</ion-title>
</ion-col>

<ion-col>
<ion-icon id="power" name="power-outline"></ion-icon>
</ion-col>

    </ion-row>

   </ion-grid>
   </ion-toolbar>
   </ion-header>

<ion-content>
  <div id="body">
<h6>PAYMENT</h6>

  <label>
    <input type="radio" name="test" value="small" checked>
    <img src="assets/bibd.png" alt="Option 1">
  </label>
 
  <label>
    <input type="radio" name="test" value="small" checked>
    <img src="assets/baiduri.png" alt="Option 1">
  </label>

<br>

<div class="field">
  <!-- Input with placeholder -->
  <ion-grid>
   <ion-row>
   <ion-col>
   <ion-label position="fixed">Name: </ion-label>
   </ion-col>

   <ion-col>
   <ion-item>
   <ion-input placeholder="First" ></ion-input>
   </ion-item>
   </ion-col>

  <ion-col>
  <ion-item>
  <ion-input placeholder="Last" ></ion-input>
  </ion-item>
  </ion-col>

</ion-row>
</ion-grid>

<ion-grid>
<ion-row>
  <ion-col>
    <ion-label position="fixed">Card Number: </ion-label>
  </ion-col>

  <ion-col>
   <ion-item>
   <ion-input placeholder="000-000-000-000" ></ion-input>
   </ion-item>
 </ion-col>

</ion-row>

</ion-grid>

<ion-grid>
<ion-row>
  <ion-col>
    <ion-label position="fixed">Expired Date: </ion-label>
  </ion-col>

    <select id="month" name="Month" required>
    <option value="jan">January</option>
    <option value="feb">February</option>
    <option value="mar">March</option>
    <option value="apr">April</option>
    <option value="may">May</option>
    <option value="jun">June</option>
    <option value="jul">July</option>
    <option value="aug">August</option>
    <option value="sep">September</option>
    <option value="oct">October</option>
    <option value="nov">November</option>
    <option value="dec">December</option>
    </select>
  


  
    <select id="year" name="Year" required>
      <option value="2022">2022</option>
      <option value="2023">2023</option>
      <option value="2024">2024</option>
      <option value="2025">2025</option>
      <option value="2026">2026</option>
      <option value="2027">2027</option>
      <option value="2028">2028</option>
      <option value="2029">2029</option>
      <option value="2030">2030</option>
      <option value="2031">2031</option>
      <option value="2032">2032</option>
      <option value="2033">2033</option>
      <option value="2034">2034</option>
      <option value="2035">2035</option>
      <option value="2036">2036</option>
      <option value="2037">2037</option>
      <option value="2038">2038</option>
      <option value="2039">2039</option>
      <option value="2040">2040</option>
      </select>
  
</ion-row>
</ion-grid>

<ion-grid>
<ion-row>
  <ion-col>
    <ion-label position="fixed">Security Code: </ion-label>
  </ion-col>

  <ion-item>
    <ion-input placeholder="************" ></ion-input>
  </ion-item>
</ion-row>

</ion-grid>
<br>
<input (click)="proceed()" type="submit">
</div>


</div>
</ion-content>

<ion-footer>
  <ion-toolbar>
  <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="camera">
      <ion-icon name="camera"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon name="person-circle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="back" (click)="previous()">
      <ion-icon name="return-up-back-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-toolbar>
</ion-footer>
