<ion-header>
  <ion-toolbar>
    <ion-title>CUSTOMER-PROFILE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Use FORM to store the customer's details into DATABASE -->
  <div>
    <h3>MY PROFILE</h3>

    <form action="">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img [src]="cards[selectedCardIndex].img">
            <ion-button (click)="logEvent($event)">
              <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label>Email: </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label>Full Name: </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label>Phone Number: </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label>Address: </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label>Country: </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>

  <div>
    <ion-col>
      <ion-label> <h4><b>To reset Password</b></h4></ion-label>
    </ion-col>
  </div>

  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button type="submit">Edit</ion-button>
        </ion-col>

        <ion-col>
          <ion-button type="submit">Save</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
