
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<ion-header translucent="true">
  
  <ion-toolbar class="background">
    <ion-buttons  slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-grid>

<ion-row>
    <ion-col> 
      <ion-title >SUBSCRIBED PLAN</ion-title>
  </ion-col>


    </ion-row>

   </ion-grid>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
<body id="rec">
  <h6>YOUR PLAN</h6> 
    
<div>
  <img src="assets/basicplan.png" alt="basicplanimg" style="width: 80%;">
</div>


<ion-grid>

<ion-col>
  <ion-button class="button"  (click)="change()">CHANGE PLAN</ion-button>
  <ion-button class="button"  (click)="cancel()">CANCEL PLAN</ion-button>

</ion-col>

<ion-row>
<ion-col>
<ion-button class="button"  (click)="pay()">PAY NOW</ion-button>
</ion-col>
</ion-row>


</ion-grid>



</body>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/product-list">
          <ion-icon name="cloud-upload-outline"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button routerLink="/home">
          <ion-icon name="home"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button routerLink="/profile">
          <ion-icon name="person-circle"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
</ion-toolbar>
</ion-footer>
